.tvPageSection {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.tvPageSection .movieCard {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(64, 71, 106);
  margin: 10px 0;
}
.tvPageSection .movieCard img {
  height: 50vh;
}
.tvPageSection .movieCard button {
  width: 100%;
  font-size: larger;
  background-color: blue;
  color: white;
  border: 1px solid navy;
}
