#root {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(12, 75, 89, 1) 100%
  );
}
.PageSection {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

@media screen and (max-width: 600px) {
  .PageSection {
    width: auto;
    flex-direction: column;
    justify-content: center;
  }
}
