.movieCard {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(64, 71, 106);
  margin: 10px 0;
}
.movieCard img {
  height: 50vh;
}
.movieCard button {
  width: 100%;
  font-size: larger;
  background-color: blue;
  color: white;
  border: 1px solid navy;
}
@media screen and (max-width: 600px) {
  .movieCard {
    width: auto;
  }
  .movieCard button {
    height: 3rem;
  }
  .movieCard img {
    width: 100%;
  }
}
